
/* HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER*/
header{
    overflow: hidden;
    height: 100svh; width: 100%;
    padding: var(--padding-big);
    position: relative;
}

#header-home{
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
}

header img{
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: var(--border);
}

#header_overlay{
    position: absolute;
    top: calc(var(--padding-big) * 2); left: calc(var(--padding-big) * 2);
    width: calc(100% - 80px);
    height: calc(100% - 80px);

    display: flex; flex-direction: column;
    justify-content: space-between;
}

#header_overlay h2{ color: white;}

#header_overlay img{
    width: 100%;
    height: fit-content;
}


/* MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN*/

main{
    overflow: hidden;
    width: 100%;
}

#main-home{
    margin-top: 100svh;
}


/* ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT*/

#about{
    height: 100svh;
    padding-bottom: 20svh;
    display: flex; flex-direction: row;
    align-items: end;
}

#about .me{width: 50%;}

#about img{width: 100%; border-radius: 28px;}

#about h2{
    margin-bottom: 20px;
}

#about p{
    font-size: 30px;
    color: var(--grey);
}

#about article{
    padding-left: 50px;
    display: flex; flex-direction: column;
    gap: 20px;
}

#about article button{
    width: fit-content;
    font-size: 30px;
    padding: 15px 20px; border-radius: 100px;
    background-color: black; color: var(--grey);
}

/* PROJEKTE   PROJEKTE   PROJEKTE   PROJEKTE   PROJEKTE   PROJEKTE   PROJEKTE   PROJEKTE*/


#projects h1{
    margin-bottom:100px;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: var(--padding-big);
}

#projects .section-projekte{
    border-radius: var(--border);
    overflow: hidden;
}

.section-container{
    width: 100%;
    display: flex; flex-direction: column;
    gap: 50px;
}

.section-projekte{
    width: 100%;
    height: 75svh;
    background-size: cover; background-position: center; background-repeat: no-repeat;
}

.section-projekte a{
    width: 100%; height: 100%;
    padding: calc(var(--padding-big) * 2);

    display: flex; flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    color: white;
}

.section-projekte h3{
    font-size: 35px;
    color: white;
}

.section-projekte .tag{ border-color: white;}

#essencial{background-image: url(../assets/project/essencial/essencial-bild.jpg);}
#mymixx{background-image: url(../assets/project/mymixx/mymixx-bild.jpg);}
#gleichklang{background-image: url(../assets/project/gleichklang/gleichklang-bild.jpg);}
#flame{background-image: url(../assets/project/flame/flame-bild.jpg);}