.ProjectText{
    padding: 0 var(--padding);

    & .titel{
        display: flex; flex-direction: column-reverse;

        & h4{line-height: 0.8; font-size: var(--txt-body); color: var(--orange); font-weight: 500;}
    }
    & p{
        max-width: var(--max-width);
    }

    & .text h3{
        display: flex; flex-direction: column;
        font-size: var(--txt-body);
    }
}

.Startseite .ProjectText{
    padding: 0;
    & .text-block{ padding: 0;}
}