.ProjectCard{
    width: 100%; height: 75svh;
    border-radius: var(--border);
    overflow: hidden;
    position: relative;
    cursor: pointer;

    & img{
        width: 100%; height: 100%;
    }

    & p{
        position: absolute;
        bottom: var(--padding);
        left: calc(var(--padding) * 1.5);
        font-size: var(--txt-titel);
        font-weight: 500;
        color: white;
    }
}












/* Desktop */
@media (min-width: 1440px){
}

/* Tablet */
@media (max-width: 1439px) {
    
}

/* Mobile */
@media (max-width: 767px) {
    .ProjectCard{height: 50svh;}
}