.ProjectCard{
    width: 100%;
    height: fit-content;
    display: flex; flex-direction: column;
    border-radius: 40px;
    cursor: pointer;
    padding: 20px 20px 48px;

    & .img-container{
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        overflow: hidden; 
        border-radius: 24px;

        & img{
            width: 100%; height: 100%;
            border-radius: 24px;
        }

        & button{
            position: absolute;
            width: 40px; height: 40px;
            bottom: var(--bttn-bttm); left: var(--bttn-left);

            background: rgba(0, 0, 0, 0.20);
            backdrop-filter: blur(4px);
            border: 2px solid transparent ;

            & img{height: 18px; width: auto; margin-left: -5px;border-radius: 0;}
        }
    }

    & .name-container{
        display: flex;
        flex-direction: column;
        align-items: start;

        & .name{
            font-size: var(--txt-h2);
            font-weight: 500;
            color: black;
        }

        & .tag{
            font-size: var(--txt-body);
            color: var(--grey);
        }
    }

}





:root{
    --img-height: 70svh;
    --bttn-left: 20px;
    --bttn-bttm: 20px;
    --bttn-txt: 22px;
}

/* Hover */
@media (min-width: 768px) {
    .ProjectCard img:hover + button{
        transition: 1s ease-in-out;
        background-color: transparent;
        border-color: white;
        color: white;
    }

    .ProjectCard:hover{
        transition: 0.7s ease-in-out;
        background-color: var(--baby);
    }

}

/* Tablet */
@media (max-width: 1439px) {
    
}

/* Mobile */
@media (max-width: 767px) {

    .ProjectCard{
    padding: 0;
    }

    .ProjectCard .img-container img{
        aspect-ratio: 1/1;
    }

    :root{
        --bttn-bttm: 17px;
        --bttn-left: 12px;
        --img-height: fit-content;
        --bttn-txt: 12px;
    }

    .ProjectCard .name-container{
        flex-direction: column;
        align-items: start;
    }

    .ProjectCard .name-container .name{
        font-size: 24px;
    }
}