.Startseite header{

    display: flex; flex-direction: column;
    gap: 50px;

    & video {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    min-height: 0;
    flex: 1;
    display: block;
    margin: 0 auto;
    }

    & article{
        display: flex; justify-content: space-between;
        gap: var(--gap);
        padding: 0 calc(var(--padding) + 8px);

        & h1{
            width: fit-content;
            white-space: nowrap;
            font-size: calc(var(--txt-body));
            color: var(--grey);
            font-weight: 300;

            & span{
                font-size: 100px;
                font-weight: 500;
                color: var(--orange);
                line-height: 0.8;
            }
        }

        & p{
            width: 100%;
            max-width: 600px;
        }
    }
}

.Startseite main{
    padding: 0 var(--padding);
    width: 100%;
    overflow: hidden;
}

.Startseite .about{
    display: flex;
    gap: var(--gap);
    padding: calc(4 * var(--padding)) 0 var(--padding);

    height: fit-content; width: 100%;

    & div.polaroids {
    position: relative;
    width: 100%;
    min-width: 0;
    min-height: 0;
    flex: 1;

    & img {
        position: absolute;
        top: 50%;
        width: 45%;
        max-width: 320px;
        transition: transform 0.3s ease;
    }

    & .pic_01 {
        left: 67%;
        z-index: 2;
        transform: translate(-50%, -50%) rotate(10deg);
    }
    & .pic_02 {
        left: 52%;
        top: calc(50% - 100px);
        z-index: 1;
        transform: translate(-50%, -50%) rotate(-8deg);
    }
    & .pic_03 {
        left: 37%;
        z-index: 0;
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    & img:hover {
        z-index: 3;
        transform: translate(-50%, -55%) rotate(0deg) scale(1.15);
    }
}

    & article{
        flex: 1;
        height: 100%;
        display: flex; flex-direction: column;
        gap: var(--gap);

        & .tecnologie{
            display: flex; flex-direction: column;
            gap: 4px;

            & h2{ line-height: 0.8; color: var(--orange); font-weight: 500; font-size: calc(var(--txt-body) * 1.7);}

            & ul{ display: flex; justify-content: space-between; max-width: 500px;}
            & ul li{ font-size: var(--txt-body)}
        }

        & .text {
            display: flex; flex-direction: column;
            gap: var(--gap);

            & p{ max-width: 500px;}

            & .socialmedia{
                display: flex;
                gap: var(--gap);

                & img{ height: 30px;}
            }
        }

        & .buttons{
            display: flex; gap:var(--gap);

            & button, a{
                width: fit-content;
                padding: 4px 16px; border-radius: 100px;
                border: 1px solid var(--grey);
                display: block;
            }
            & button {
                background-color: var(--grey); color: white;
                font-size: calc(var(--txt-body) / 1.2);
            }
            & a{
                background-color: white; color: var(--grey);
                font-size: var(--txt-body);
            }

            & button img{
                height: 17px;
                margin: 0 0 -1px 5px;
            }
        }


    }
}

.Startseite .projects{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}





/* Desktop */
@media (min-width: 1440px){
    .Startseite .about article button.portfolio-download:hover{
        background-color: var(--orange); color: white;
        border-color: var(--orange);
    }

    .Startseite .about article .buttons a:hover{
        background-color: white; color: var(--orange);
        outline: 2px solid var(--orange);
        outline-offset: -2px;
    }

    .Startseite .about div.polaroids img:hover {
        z-index: 3;
        transform: translate(-50%, -55%) rotate(0deg) scale(1.15);
    }
}



/* Tablet */
@media (max-width: 1439px) {
    .Startseite header{
        & article h1 span{font-size: 60px;}
    }

    .Startseite .about article .text .socialmedia img{height: 28px;}
}

/* Mobile */
@media (max-width: 767px) {
    
    .Startseite header{
        height: fit-content;
        padding-top: 60px;

        & article{
            flex-direction: column;
            & h1 span{font-size: 40px;}
            & p{max-width: 450px;}
        }

        & video {
            flex: none;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }

    .Startseite .about{
        flex-direction: column-reverse;
        min-height: fit-content;

        & div.polaroids{
            height: 40svh;
            flex: auto;

            & img {
                top: 55%;
                height: 60%;
                width: auto;
            }
            & .pic_02 { top: calc(55% - 40px);}
        }

        & .text {
            & p{ max-width: 500px;}
    }
}

    .Startseite .about article .text .socialmedia img{height: 24px;}

    .Startseite .about article .buttons a{
        background-color: white; color: var(--orange);
        outline: 1px solid var(--orange);
        outline-offset: -1px;
    }

    .Startseite .about article .buttons button{
        background-color: var(--orange); color: white;
        border-color: var(--orange);
    }

    .Startseite .projects{
        padding-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--gap);
    }
}