html:has(.Essencial), body:has(.Essencial) {
  background-color: #433023;
}

.Essencial .Footer {
  color: white;
  & .text-block .infos-container .info-column .bold { color: white;}
  & .text-block .titel { color: white;}
}

.Essencial{
    & h1, h2, h3, main p, .text-bold{color: white;}
    & main p{opacity: 0.6;}
}

.Essencial{

    & .img-01{
        margin-top: calc(-1 * var(--gap-main));
    }

    & .img-02{
        width: 60vw;
    }

    & .img-03{
        margin-top: calc(-1 * var(--gap-main));
    }
    & .img-04{ width: 60%;}
}


/* Desktop */
@media (min-width: 1440px){
    & .img-05{ width: 60%;}
}

/* Tablet */
@media (max-width: 1439px) and (min-width: 768px) {
        
}

/* Mobile */
@media (max-width: 767px) {
    .Essencial{
        & .img-04{
            width: 160%;
            margin-left: -30%;
        }
    }

    .Essencial {
    & .img-01{
        margin-top: 0px;
    }
  }
}