html:has(.Caflex), body:has(.Caflex) {
  background-color: #002B8A;
}

.Caflex .Footer {
  color: white;
  & .text-block .infos-container .info-column .bold { color: white;}
  & .text-block .titel { color: white;}
}

.Caflex{
    & h1, h2, h3, main p, .text-bold{color: white;}
    & main p{opacity: 0.6;}
}

.Caflex{
    & .cards{
        padding: 0 var(--padding);
        display: flex; flex-direction: column;
        gap: 40px;

        & h3{font-size: var(--txt-h2); line-height: 0.8;}

        & .container{
            display: flex; gap: 40px;

            & img{
                flex: 1;
                min-width: 0;
                height: auto;
                border-radius: var(--border);
            }
        }
    }

    & .video-01, .video-02{
        width: 30%;
        object-fit: contain;
        margin: 0 auto;
    }

    & .img-03{width: 60%;}
}


/* Desktop */
@media (min-width: 1440px){
    .Caflex{
        & .img-02{
            width: 65%;
        }
    }
}

/* Tablet */
@media (max-width: 1439px) and (min-width: 768px) {
    .Caflex{
        & .img-02{
            width: 65%;
        }
    }
        
}

/* Mobile */
@media (max-width: 767px) {
    .Caflex{
        & .img-01{
            width: 200%;
            margin-left: -50%;
        }
        & .img-02{
            width: 140%;
            margin-left: -20%;
        }
        & .video-01, .video-02 { width: 100%;}
    }
}