.Praxis{
    & .img-03{
        width: 60vw;
    }
}

/* Desktop */
@media (min-width: 1440px){
    .Praxis{
        & .img-04{
            width: 60vw;
        }
    }
}

/* Tablet */
@media (max-width: 1439px) and (min-width: 768px){
}

/* Mobile */
@media (max-width: 767px) {
    .Praxis{
        & .img-02{
            width: 200vw;
        }
    }

}