:root {
    --ProjectHeader-logo:140px;
  }

/* Tablet */
@media (max-width: 1439px) {
  :root {
    --ProjectHeader-logo:120px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  :root {
    --ProjectHeader-logo:80px;
  }
}

.ProjectHeader{
    padding: var(--padding);

    & .logo{height: var(--ProjectHeader-logo);}

    & section.screen{
        padding: 7svh 0 var(--padding);
        display: flex; flex-direction: column;
        gap: var(--gap);
        align-items: center; justify-content: space-between;
    }

    & video, img.cover{
        flex: 1; min-height: 0;
        width: 100%;
        border-radius: var(--border);
    }

    & .projectname-container{
        width: 100%;
    }

    & .projectname{
        display: flex; flex-direction: column-reverse;
        padding-bottom: var(--padding);


        & h2{ font-size: var(--txt-text); margin-left: 2px; color: var(--orange);}
        & h1{ line-height: 1;}
    }

}

.ProjectHeader .description{
    width: 100%;
    display: flex;  flex-direction: column;
    gap: var(--gap);
    max-width: var(--max-width);
}


#description .description-text{
    margin-top: 30px;
    width: 550px;
}




/* Desktop */
@media (min-width: 1440px){
}

/* Tablet */
@media (max-width: 1439px) {
    
}

/* Mobile */
@media (max-width: 767px) {
    .ProjectHeader{
        & .projectname-container{ margin-top: 6svh;}
    }
}