html:has(.Mova), body:has(.Mova) {
  background-color: #651A14;
}

.Mova .Footer {
  color: white;
  & .text-block .infos-container .info-column .bold { color: white;}
  & .text-block .titel { color: white;}
}

.Mova{
    & .logo-pattern{width: 15vw; margin: 0 auto;}

    & h1, h2, h3, main p, .text-bold{color: white;}
    & main p{opacity: 0.6;}
}

/* Desktop */
@media (min-width: 1440px){
    .Mova .video01{
        width: 50%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .Mova{ & .logo-pattern{width: 30vw;}}
}