nav{
    position: fixed;
    z-index: 3;
    transform: translateX(-50%);
    top: 0; left: 50%;
    width: 100vw; max-width: 1700px;
    padding: var(--padding) calc(var(--padding) + 8px);
    padding-top: 32px;

    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;

    & p{ color: white}

    & img{ object-fit: initial;}

    & img.mail{ width: 23px; margin-bottom: 3px;}

    & img.logo{
        width: 100px;
        filter: invert(1) grayscale(1) brightness(1);
    }

    & a{
        display: flex;
        gap: 15px;
        align-items: end;
    }

    & .lang-mail{
        display: flex;
        gap: 50px;
    }

    .lang-toggle{
        width: 70px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    nav{
        padding-top: calc(var(--padding) + 4px);
        justify-content: start;
    }

}