nav{
    position: fixed;
    z-index: 1;
    top: 0; left: 0;
    width: 100vw;
    padding: var(--padding) calc(var(--padding) + (var(--padding) / 2));

    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;

    & p{ color: white}

    & img{ object-fit: initial;}

    & img.mail{ width: 23px; margin-bottom: 3px;}

    & img.logo{
        width: 100px;
        filter: invert(1) grayscale(1) brightness(1);
    }

    & a{
        display: flex;
        gap: 15px;
        align-items: end;
    }

    & .lang-mail{
        display: flex;
        gap: 50px;
    }

    & div.only-mobile{
        height: 2px; width: 70px; opacity: 0;
    }

    .lang-toggle{
        width: 70px;
    }
}

/* Mobile */
@media (max-width: 767px) {

}